@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: #403d39;
  overflow-y: auto;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 400px;
  height: 100%;
  background: #eb5e28;
  padding: 30px 0px;
  position: fixed;
}

.header {
  text-align: center;
  font-size: 70px;
}

.sidebar {
  position: absolute; /* Position them relative to the browser window */
  left: -288px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 20px 20px 0;
}

.siderbar > a i::before {
  padding-right: 15px;
}

.sidebar:hover {
  left: 0;
}

.wrapper .sidebar h2 {
  color: #101010;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 20px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #252422;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
  padding-right: 32px;
}

.wrapper .sidebar ul li:hover {
  background-color: #d5bdaf;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #252422;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #eb5e28;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 130px;
}

.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}

.main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-one {
  padding-right: 50px;
  padding-left: 150px;
}
.header {
  background: #252422;
  width: 100%;
  border-radius: 15px;
}

.header > h2 {
  text-align: center;
  vertical-align: middle;
  padding-top: 50px;
  line-height: 80px;
  color: #ccc5b9;
}
.div-text1 {
  padding-top: 50px;
}
ul#menu li {
  display: inline;
  color: #ccc5b9;
  font-size: 0.2em;
}

ul#menu a {
  text-decoration: none;
  color: #eb5e28;
}

ul#menu a:hover {
  color: #403d39;
}

.image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  padding-top: 80px;
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}

.furnitures {
  background: #ccc5b9;
  height: 100%;
}

.section-one {
  height: 1000px;
}
.section-two {
  height: 100vh;
}
