body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(180deg, #101010,#252422);
    min-height: 100vh;
}
.container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.container a{
    text-decoration: none;
    background: #b5aa99;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 18px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4;
}
.container a:hover{
    background: #eb5e28;
}
img {
    width: 30%;
    height: auto;
}
span{
    color:#eb5e28;
}